/* Signup Page */
.signup-container {
    background-color: #f1f1f1;
}

.signup-container .form-container {
    background-color: #ffffff;
}

.signup-container h2 {
    color: #333;
    font-size: 24px;
}

.signup-container .form-group {
    margin-top: 10px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

button{
    background-color: #f9a743;
    border: none;
    padding: 10px;
    border-radius: 10px ;
}

button:hover{
    color: white;
}